<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IWcfService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/Services/WcfService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IWcfService"
                contract="ServiceReference.IWcfService" name="NetNamedPipeBinding_IWcfService">
                <headers>
                    <Test xmlns="http://fitsco.com.cn">Luyulong</Test>
                </headers>
                <identity>
                    <userPrincipalName value="luyulong@Fitsco.com.cn" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>